#############################################################################
#               ALERT! You are entering into a secured area!                #
#                All connections are monitored and recorded.                #
#  Your IP, Login Time, Username will be send to the server administrator!  #
#############################################################################